/* Large devices (desktops, 992px and up) */
@media (max-width: 1199.98px) { 
  .parent {
    flex-wrap: wrap;
  }
  .video-overlay video {
    max-height: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    min-height: 100%;
    min-width: 100%;
  }
  
  .video-overlay {
    height: auto;
    clip-path: none;
    position: relative;
    height: 50vh;
  }

  
  .video-overlay video {
    height: auto;
  }
  #photo {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .aboutdiv {
    height: 80vh;
  }

  .about-img {
    max-width: 505px;
  }

  .text-banner {
    margin-bottom: 80px;
  }
  
  .about-banner {
    padding-top: 0;
  }

  .topcontainer {
    height: auto;
    padding: 100px 0;
  }

  .botcontainer {
    height: auto;
    padding-bottom: 50px;
  }
  .botcontainer form {
    padding-top: 100px;
  }
  .card-body{
    font-size: 18px;
    min-height: 220px;
  }
}


@media (max-width: 1024px) {
  .video-overlay .goto,
  .profile .goto {
    transform: translateX(0);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) { 
  /* INTERESTS */
  .game-row {
    flex-wrap: wrap;
    height: auto;
  }
  .game-item {
    flex: auto;
  }
  .parentdiv img {
    height: auto;
  }
  .parentdiv {
    height: auto;
  }
  .aboutdiv {
    height: auto;
    padding-bottom: 50px;
  }

  .text-banner {
    line-height: 2.3em;
  }

  .about-content {
    
    padding: 60px 50px 0;
  }

  .about-banner {
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-body {
    min-height: auto;
  }

  .guide-info {
    bottom: 0;
    top: initial;
    height: auto;
    opacity: 1;
    display: block;
  }

  .guide-info h2 {
    
    margin-bottom: 10px;
  }

  .parentdiv p {
    margin: 5px 0;
  }

  .parentdiv img,
  .parentdiv:hover img {
    opacity: 1;
  } 

  .game-item {
    margin-bottom: 10px;
  }

  
  .goto a {
    font-size: 20px;
  }
  .video-overlay .goto:after {
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-left: 50px solid #49111c;
  }
  .profile .goto:after {
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-right: 50px solid #49111c;
  }

  .about-img {
    border: 1px solid #fff;
  }

}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) { 
  
  /* .aboutdiv {
    height: 45vh;
  } */

  .parentdiv p {
    margin: 0;
    font-size: 12px;
  }
  .guide-info h2 {
    font-size: 16px;
  }
  .parentdiv img {
    min-height: 350px;
  }
  .footer1 {
    height: auto;
    padding: 10px 15px;
  }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .circle {
    width: 90%;
    border-radius: 6%;
    padding-top: 30px;
  }
  .profile {
    display: none;
  }
  #photo {
    visibility: hidden;
  }
  .video-overlay {
    height: 100vh;;
  }
  .goto {
    display: none;
  }
  
  .about-img {
    max-width: 325px;
  }

  .text-banner {
    line-height: 1.8em;
    font-size: 12px;
  }
  
  .guide-info h2 {
    margin-bottom: 5px;
  }
}
