@font-face{
	font-family: "game1";
	src: url("./../fonts/MachineGunk-nyqg.ttf");
}
@font-face{
	font-family: "game2";
	src:url("./../fonts/EvilEmpire-4BBVK.ttf");
}
@font-face{
	font-family: "game3";
	src:url("./../fonts/Squirk-RMvV.ttf");
}
@font-face{
	font-family: "game4";
	src:url(./../fonts/FrostbiteBossFight-dL0Z.ttf);

}

*{
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
}

img {
	max-width: 100%;
}
/*start of blog html*/
.parent {
	display: flex;
	background-color: black;
	position: relative;
		overflow: hidden;
}
.email a{
	text-decoration: none;
}
.toggle{
	display: none;
}
.video-overlay {
	clip-path: polygon(0 0, 85% 0, 15% 100%, 0% 100%);
	position: absolute;
	/*height: 100vh	no border */
	height: 100%;
	width: 100%;
	border: 5px solid black;
	overflow: hidden;
}
.video-overlay video {
	max-height: 100%;
	height: 100%;
}

.profile {
	text-align: right;
	width: 100%;

}
#photo {
	height: 100vh;
	border: 5px solid black;
	width: 100%;
	object-fit: cover;
}
.video-overlay:hover .goto,
.profile:hover .goto {
	transform: translateX(0);
}
.goto {
	position: absolute;
	transition: 200ms;
}
.goto:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	display: block;
	top: 50%;
}
.video-overlay .goto {
	top: 100px;
	left: 0;
	transform: translateX(calc(-100% + -70px));
}
.video-overlay .goto:after {
	border-top: 54px solid transparent;
	border-bottom: 54px solid transparent;
	border-left: 70px solid #49111c;
	transform: translate(100%, -50%);
	right: 0;
}
.profile .goto {
	right: 0;
	bottom: 100px;
	transform: translateX(calc(100% + 70px));
}
.profile .goto:after {
	border-top: 54px solid transparent;
	border-bottom: 54px solid transparent;
	border-right: 70px solid #49111c;
	transform: translate(-100%, -50%);
	left: 0;
}

.goto a {
	background-color: #49111c;
	padding: 20px;
	font-size: 40px;
	font-family: 'Roboto';
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	position: relative;
	font-weight: bold;
}

.container1{
	background-color: #49101c;
	flex:1;
	margin-right: 10px;
}
.container2{
	background-color: #5f5040;
	flex:1;
}

.navigation ul {
	padding: 0;
	margin: 0 0 50px;
}

.navigation ul li {
	display: inline;
	margin-right: 30px;
}
.navigation ul li:last-child {
	margin-right: 0;
}

.navigation ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase
}

.navigation ul li a:hover {
	text-decoration: underline;
}

.circle{
	height: 380px;
	width: 380px;
	border-radius: 100%;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 20;
	padding-top: 100px;
	text-align: center;
}

.fullname{
	color: white;
	transform: (0,-10%);
	font-weight: bolder;
	font-size: 25px;
	letter-spacing: 1.5px;
	font-family: "game1";
}
.course{
	color: white;
	letter-spacing: 1px;
	font-family: "game4";
}
/*icons link*/
.email{
	text-decoration: none;
	font-size: 14px;
	color: white;
	font-family: "game2";
	margin-top: 60px;
	display: block;
	letter-spacing: 1px;
}
.mobile{
	color: white;
	font-size: 14px;
	font-family: "game4";
	letter-spacing: .5px;
}

#joystick{
	position: relative;
	left:-10%;
	transform: translate(50%,50%);
	width: 50%;	
}

.social-icons img {
	max-width:40px;
	height: auto;
}
.social-icons a {
	text-decoration: none;
}
/*end of icon links*/

.container1:hover {
	background-color: #f3f3f3; 
	opacity: 0.2;

}
.container2:hover {
	background-color: #f3f3f3;
	opacity: 0.2;
}
.htmlfont{
	font-family: "game2";
}
/*end of blog html*/

/*start of games html*/
.parentdiv{
	height:calc(97vh - 56px + 12px);
	background-color: #000;
	margin-top:56px;
}

.navbar{
	background-color: #000;
}


/* header ul li{
	display: inline-block;
	list-style:none;
	text-decoration: none;
	padding:0 20px;

}
header a{
	color: #fff;
}
header ul{	
	margin:0 auto;
	padding-bottom: 5px;
} */
.parentdiv img {
	object-fit: cover;
	height: 100%;
	border:2px solid black;
}

.first div:first-child,
.second div:nth-child(2),
.third div:last-child {
	flex: 2;
}

.first div:first-child img,
.second div:nth-child(2) img,
.third div:last-child img {
	width: 100%;
	object-position: top;
	/* transform: scale(1.5); */
}

.guide-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px;
	opacity: 0;
	display: none;
	transition: opacity 5000ms ease;
}
.guide-info h2{
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 700;
}


.game-row {
	height:30vh;
	display:flex;
}

.game-item {
	position: relative;
	flex: 1;
}

/** 
* EFFECT 1
*/

.parentdiv:hover img {
    opacity: .2;
}

.parentdiv:hover img:hover {
    opacity: 1;
    }


/** 
* EFFECT 2 
*/

.parentdiv .game-item:hover .guide-info {
	display: block;
	opacity: 1;
	animation: backwards;	
	}

/** 
* EFFECT 3 
*/

/*.parentdiv:hover img {
    opacity: .1;
}

.parentdiv:hover img:hover {
    opacity: 1;
}

.parentdiv .game-item:hover .guide-info {
	display: block;
	opacity: 1;
	}*/

    span{
    	font-weight: bolder;
    }
	.footer1 {
		    height: calc(7vh - 12px);
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    padding-top: 15px;

	}
	footer p{
		margin-bottom: 0;
		font-size: 10px;
		font-weight: 100;
		font-family: "Roboto";
	}

	.parentdiv p{
		margin: 5px 0;
	}

	.pict2{
		line-height: 20px;
	}
	.pict3{
		line-height: 20px;
		
	}
	/*end of games html*/

	/*start of about me */

	.about-header{
		height: 10vh;
		background-color: #000;

	}
	.about-content{
		flex: 2;
		padding-top: 110px;
		padding-right: 50px;
	}
	
	
	.about-footer{
		height: 10vh;
		background-color: #000;
		font-family: "game1";
	}

	.aboutdiv{
		
		padding-top:100px;
		height: 100vh;
		display: flex;
		background:
			linear-gradient(
			rgba(0,0,0,0.8),
			rgba(0,0,0,0.8)
			),
			url("../images/spiritudyr1.jpg");
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
			
	}
	.navbar{
		font-family: "Roboto"
	}



	
	.about-banner{
		background-color: #333;
		display:flex;
		padding-top: 50px;
	}
	.about-pic{
		flex:1;	
    display: flex;
    align-items: flex-end;
	}
	.about-img{
		/* height: 100%;
		margin-left:20%;
		margin-top: 14px; */
		max-width: 700px;
		height: auto;
		opacity: .8;
	}
	.about-title{
		/* text-align: center; */
		
		font-family: "game3";	
		color: #fff;
		margin: 0 auto;
		max-width: 700px;
	}
	.text-banner{
		margin: 20px auto;
		max-width: 700px;
		line-height: 2.5em;
		color: #fff;
		letter-spacing: 3px;
		font-family: "Roboto";
		/* padding-right: 70px; */
	}
	.bottom-banner{
		height: 90vh;
		

	}
	.topcontainer{
		height: 120vh;
		width: 100%;
		
		padding-top:200px;
		
		background:
			linear-gradient(
			rgba(73,17,28,0.5),
			rgba(73,17,28,0.5)
			),
			url("../images/rakanxayah.jpg");
		background-attachment: fixed;
		background-size: cover;
		}

	.botcontainer{
		    height: 70vh;
		width: 100%;
		background:
			linear-gradient(
			rgba(0,0,0,0.8),
			rgba(0,0,0,0.8)
			),
			url("../images/infernomap.png");
		background-attachment: fixed;
		background-size: cover;
		
		background-position:center bottom -190px;
			

	}

	.card{
		padding: 10px;
	}
	.card button {
		align-self: flex-end;
	}
	.card-body{
		
		min-height: 180px;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
	}
	.card-img-top{
		width: 100%;
		height: 200px;
		object-fit: cover;
		transition: 1.3s;
	}
	.card-img-top:hover{
		
		transform:scale(1.2);
		
	}
	.bottitle{
		text-align: center;
		color: #fff;
		font-weight: bolder;
		font-size: 40px;
		margin-bottom: 20px;
	}
	#messagebox{
		height: 210px;
	}
	form{
		padding-top:150px;
	}
	label{
		color: white;
	}
	/*end of about me*/